*.log
*.swp
.DS_Store
.bundle
.byebug_history
.chef
.directory
.envrc
.idea
.rbenv-version
.rbx/
.ruby-gemset
.ruby-version
.rvmrc
.sass-cache/
.secret
.vagrant
Vagrantfile
app/assets/images/sidebar-left-bg.jpg
backups/*
config/application.yml
config/aws.yml
config/blacklist.txt
config/database.yml
config/initializers/omniauth.rb
config/initializers/rack_attack.rb
config/initializers/smtp_settings.rb
config/locales/website-custom.*.yml
config/redis.yml
config/secrets.yml
config/unicorn.rb
coverage/*
db/*.sqlite3
db/*.sqlite3-journal
db/data.yml
doc/code/*
dump.rdb
log/*.log*
nohup.out
public/assets/
public/uploads.*
public/uploads/
rails_best_practices_output.html
/tags
tmp/
vendor/bundle/*

lib/antlr4/bin/*.grammar.dll
lib/antlr4/bin/ParseTreeGenerator.exe
lib/antlr4/grammars/**/*.cs
lib/antlr4/grammars/**/*.tokens
lib/antlr4/tools/Program.cs
