# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 33004325eb4591ed87aa9d028e04500b594adfa3c83122fe7d2b227fd5102563173f8e3f084cee4d8e2dfaad3a654b1e5efa5d65f4c9eab3d9c02504a6cb921d

test:
  secret_key_base: b52ad1885c96aecf5feb6c39bb78461b2779c61d9d339ebf1620344b61d2f36d08152f0f3cd699cb02b5c08ad155113cec7a873f00cc6aaffd86ffa0f0523286

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  #secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  secret_key_base: ac3245ab99ebb36000df0f4f83de0d6a8a0e84da1f14c5508cfcb8cb999277227b9a84a1e87ac217ec7291af3747b3ce28b981728ccb1a278cbfef9bc173bd9b
