#dropzone {
  .dropzone {
    border-radius: 5px;
    border: 1px dashed #999;
    padding: 60px 0 60px 0;

    .dz-default {
      margin: 0;
      font-size: 20px;
      color: #666;
    }

    > .dz-preview.dz-file-preview {
      margin: 0 auto 0 auto;

      .dz-image {
        background: none;
      }

      .dz-size {
        margin-bottom: 1.6em;
      }
    }
  }

  .dropzone.dz-started {
    padding: 15px 0 15px 0;
  }
}
