@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

a {
  outline: none;
}

.transition {
  @include transition(all ease 0.3s 0s);
}

header {
  .navbar-dark {
    background-color: #696969;
    border-color: e7e7e7;
  }

  .navbar > .container > ul.nav {
    li.active > a {
      background-color: #9A9A9A;
    }

    li > a {
      color: #FFF;
    }

    li > a:hover {
      background-color: #DEDEDE;
      @include transition(all ease 0.3s 0s);
      color: #696969;
    }

    li > span {
      padding: 15px 15px;
      line-height: 20px;
      position: relative;
      display: block;
      color: #FFF;
      width: 240px;
      font-size: 18px;
    }
  }

  .select-lang {
    float: right;
    height: 50px;
    line-height: 50px;
  }
}

#parsetree {
  margin-bottom: 15px;

  .ptree-header {
    #dropzone-msg {
      margin-top: 15px;
      @include transition(all ease 0.3s 0s);

      .result-msg {
        float: left;

        p:last-child {
          margin-bottom: 0;
        }
      }

      .ptree-description {
        float: right;

        p:last-child {
          margin-bottom: 0;
        }
      }

      &::after {
        display: table;
        content: ' ';
        clear: both;
      }
    }

    #parse-error {
      margin-top: 15px;
      border: 1px solid #999;
      border-radius: 5px;
      padding: 10px;

      table.errors {
        td:first-child {
          width: 100px;
          vertical-align: top;
        }
        td:nth-child(2) {
          width: 100px;
          vertical-align: top;
        }
        td:nth-child(3) {
          font-size: 13px;
        }
      }

      &.fade {
        display: none;
      }

      &.fade.in {
        display: block;
      }
    }
  }

  #note {
    margin-top: 15px;
    background-color: #fafafa;
    border-radius: 6px;
    border: 1px solid #999;
    padding: 20px 20px 20px 0;
  }

  #comment {
    margin: 20px;
    font-size: 14px;
  }

  #parse-progress{
    margin-top: 20px;
    background-color: #FFF;
    border: 1px solid #ff3210;
    border-radius: 6px;
    padding: 20px;
    height: 60px;

    span#current-count {
      display: inline-block;
      text-align: right;
    }

    span#current-progress {
      display: inline-block;
      text-align: right;
      width: 34px;
    }
  }

  table#parse-result-summary,
  table#what-is-ptree {
    td {
      padding: 0 10px 0 10px;
    }

    td.value {
      font-weight: bold;
      color: rgb(255, 40, 40);
    }
  }

  #parse-result {
    margin-top: 20px;
    background-color: #FFF;
    border: 1px solid #ff3210;
    border-radius: 6px;
    padding: 20px;
    position: relative;
    min-height: 160px;

    table {
      @include transition(all ease 0.3s 0s);

      tr,th,td {
        @include transition(all ease 0.3s 0s);
      }

      .tid { width: 42px; }
      .ln { width: 42px; }
      .st { width: 51px; }
      .en { width: 51px; }
      .ty { width: 220px; }
    }
  }

  #loader {
    display: block;
    position: fixed;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    z-index: 100;
  }

  #download-file {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .cover {
    visibility: hidden;
    height: 0 !important;;
  }

  .transparent {
    height: 0 !important;
    color: white;
    overflow: hidden;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    border: none;
  }

  #message {
    margin-top: 15px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
  }
}

#about {

}

.description {
  padding: 0 15px;
}

.pane {
  display: none;
}

.pane.active {
  display: block;
}
